* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.globe {
  width: 100vw;
  height: calc(100vh - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

svg {
  display: block;
  margin: 0 auto;
  cursor: all-scroll;
}
